{$OPS_HOSTNAME} {
    route * {
        reverse_proxy /graphql      http://backend:5000
        reverse_proxy /graphiql     http://backend:5000
        reverse_proxy /api/*        http://backend:5000
        reverse_proxy /addons/*     http://backend:5000
        reverse_proxy /docs         http://backend:5000
        reverse_proxy /openapi.json http://backend:5000

        root * /frontend
        try_files {path} /index.html
        file_server
    }

    handle_errors {
        respond "\{\"status\" : {http.error.status_code}, \"detail\" : \"{http.error.status_text}\"\}"
    }
}
